ComfyUI/*
ComfyUI-Installer.code-workspace
scripts/ComfyUI.service
scripts/ComfyUIMini.service
scripts/ComfyUI.desktop
scripts/ComfyUIMini.desktop
scripts/run_cpu.sh
scripts/run_gpu.sh
backup
.settings
