[Desktop Entry]
Name=ComfyUI
Path=/COMFYPATH/ComfyUI/
Exec=/COMFYPATH/ComfyUI/ComfyUI
Comment=A powerful and modular stable diffusion GUI with a graph/nodes interface.
Terminal=true
Icon=/COMFYPATH/pictures/comfyui.svg
Type=Application
NoDisplay=false
